# IMPLEMENTING ANN IN KERAS API
    credits: 
https://www.linkedin.com/pulse/artificial-neural-networkann-keras-simplified-vineet-jaiswal

In [1]:
# importing panda lib to extract generic data turned into organized information with indexes

In [2]:
import pandas as pd   #stands for PANel DAta library for data manipulation & analysis, built upon numpy
import os #provides funcs 4 creating/removing folders, fetching its contents, 
             #changing & identifying current directory etc

In [3]:
df_all_student = pd.read_csv("Student.csv",encoding ='utf-8')  #i/p data using pd.read_csv() into panda dataframe-df

In [4]:
df_all_student.shape   #gives shape of the df

(10000, 13)

In [5]:
df_all_student.sample(5)     #displays input(i/p) data in a tabular form

,RowNumber,StudentId,StudentScore,School,Gender,Age,tenure,previousScore,sportsParticipated,Sibling,IsRegular,everFailed,IsFailed
6211,6212,10034172,925,Kendriya Vidyalaya,girl,7,2,334,3,1,1,1,0
5959,5960,10041111,982,Navodaya Vidyalaya,girl,11,4,234,0,1,1,0,1
8403,8404,10024956,814,Govt Primary School,girl,8,2,304,5,0,1,1,0
5832,5833,10037001,629,Govt Primary School,boy,13,2,706,2,0,0,0,0
3996,3997,10036239,521,Govt Primary School,boy,7,4,927,5,1,0,1,1

In [6]:
X=df_all_student.iloc[:, 2:12]  #selects 10 cols: df.iloc method returns rows based on i/p int values format '[r,c]'

In [7]:
X

,StudentScore,School,Gender,Age,tenure,previousScore,sportsParticipated,Sibling,IsRegular,everFailed
0,844,Govt Primary School,girl,11,2,344,3,0,1,1
1,230,Navodaya Vidyalaya,girl,7,2,918,2,0,1,1
2,949,Govt Primary School,girl,13,4,340,6,1,0,0
3,433,Govt Primary School,girl,12,3,274,0,1,0,1
4,322,Navodaya Vidyalaya,girl,9,2,434,1,1,1,0
5,553,Navodaya Vidyalaya,boy,10,3,943,2,0,1,0
6,236,Govt Primary School,boy,7,3,271,5,0,1,1
7,805,Kendriya Vidyalaya,girl,13,2,647,5,0,1,1
8,503,Govt Primary School,boy,11,2,732,0,1,0,0
9,706,Govt Primary School,boy,9,4,553,4,1,0,0
10,932,Govt Primary School,boy,12,2,528,5,1,0,1
11,307,Navodaya Vidyalaya,boy,6,3,657,6,1,0,0
12,451,Govt Primary School,girl,8,4,749,6,1,0,1
13,524,Govt Primary School,girl,11,3,853,2,1,0,0
14,247,Navodaya Vidyalaya,girl,13,4,477,7,0,0,1
15,342,Kendriya Vidyalaya,boy,9,3,605,2,1,1,0
16,549,Kendriya Vidyalaya,boy,13,4,383,4,1,1,1
17,558,Navodaya Vidyalaya,girl,12,3,928,0,1,0,0
18,859,Navodaya Vidyalaya,boy,7,2,542,1,0,1,0
19,201,Govt Primary School,girl,14,3,750,1,1,0,1
20,804,Govt Primary School,boy,6,4,270,6,0,0,0
21,424,Navodaya Vidyalaya,girl,9,2,878,2,1,0,1
22,464,Navodaya Vidyalaya,girl,11,3,993,7,1,1,0
23,909,Govt Primary School,boy,14,2,595,7,0,1,1
24,435,Govt Primary School,girl,10,4,851,7,0,0,1
25,378,Govt Primary School,boy,8,3,425,0,0,1,1
26,692,Kendriya Vidyalaya,boy,10,3,987,4,0,0,1
27,302,Govt Primary School,boy,7,4,921,4,0,1,1
28,911,Kendriya Vidyalaya,girl,6,4,378,1,0,0,0
29,817,Govt Primary School,boy,10,3,654,4,1,0,1
...,...,...,...,...,...,...,...,...,...,...
9970,846,Govt Primary School,boy,12,4,810,7,0,0,0
9971,958,Govt Primary School,girl,11,4,223,0,1,1,1
9972,694,Govt Primary School,boy,9,4,711,4,1,1,0
9973,217,Govt Primary School,boy,11,4,929,4,0,1,0
9974,760,Govt Primary School,boy,12,2,774,0,0,1,0
9975,321,Kendriya Vidyalaya,boy,13,4,749,2,0,1,1
9976,444,Govt Primary School,girl,12,4,642,1,0,1,1
9977,812,Govt Primary School,girl,13,2,492,0,1,0,1
9978,383,Govt Primary School,boy,6,4,486,3,0,0,0
9979,669,Govt Primary School,girl,7,4,655,3,1,0,1
9980,884,Navodaya Vidyalaya,boy,13,4,806,7,0,1,0
9981,546,Kendriya Vidyalaya,boy,14,2,581,3,0,0,0
9982,261,Kendriya Vidyalaya,girl,9,3,678,4,1,1,0
9983,352,Govt Primary School,boy,11,2,637,6,1,0,1
9984,242,Kendriya Vidyalaya,boy,7,2,208,6,1,0,0
9985,240,Govt Primary School,boy,14,3,857,6,1,1,1
9986,618,Kendriya Vidyalaya,boy,12,4,1000,7,1,1,1
9987,418,Navodaya Vidyalaya,boy,10,2,922,5,0,1,1
9988,965,Govt Primary School,boy,10,4,947,1,1,0,1
9989,751,Navodaya Vidyalaya,boy,6,3,810,1,0,0,1
9990,821,Kendriya Vidyalaya,boy,14,2,746,2,1,0,0
9991,527,Govt Primary School,girl,7,3,426,7,1,0,1
9992,687,Navodaya Vidyalaya,boy,13,2,340,3,0,1,0
9993,533,Govt Primary School,boy,7,3,679,7,0,0,1
9994,872,Govt Primary School,girl,8,4,979,2,1,0,1
9995,496,Govt Primary School,boy,9,4,288,0,1,0,1
9996,785,Govt Primary School,boy,6,2,777,7,0,0,0
9997,851,Govt Primary School,girl,10,2,791,5,0,1,1
9998,241,Kendriya Vidyalaya,boy,10,4,635,2,1,1,0
9999,905,Govt Primary School,girl,6,2,798,3,0,0,1

In [8]:
from sklearn.preprocessing import LabelEncoder #LabelEncoder assigns numbers to categories ie.enumerates labels

In [10]:
#select particular col and fit label encoder and return encoded labels for it
labelencoder_X_School = LabelEncoder()
X.iloc[:,1]= labelencoder_X_School.fit_transform(X.iloc[:, 1])

In [11]:
X.head(3)    #display all cols output for 3 rows

,StudentScore,School,Gender,Age,tenure,previousScore,sportsParticipated,Sibling,IsRegular,everFailed
0,844,0,girl,11,2,344,3,0,1,1
1,230,2,girl,7,2,918,2,0,1,1
2,949,0,girl,13,4,340,6,1,0,0

In [12]:
labelencoder_X_Gender = LabelEncoder()
X.iloc[:,2]= labelencoder_X_Gender.fit_transform(X.iloc[:, 2])

In [13]:
X.head(3)

,StudentScore,School,Gender,Age,tenure,previousScore,sportsParticipated,Sibling,IsRegular,everFailed
0,844,0,1,11,2,344,3,0,1,1
1,230,2,1,7,2,918,2,0,1,1
2,949,0,1,13,4,340,6,1,0,0

In [14]:
# each category value is converted into a new column & assigned a 1 or 0
# (notation for true/false) value to the column
from sklearn.preprocessing import OneHotEncoder
#from sklearn.compose import ColumnTransformer   # include this if (scikit version)>0.20
import numpy as np

In [15]:
#ct = ColumnTransformer([("StudentScore", OneHotEncoder(), [1])], remainder = 'passthrough')
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
#X = ct.fit_transform(X)

/N/soft/rhel7/anaconda/python3.7/2019.03/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:354: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X = check_array(X, dtype=np.int)
/N/soft/rhel7/anaconda/python3.7/2019.03/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/N/soft/rhel7/anaconda/python3.7/2019.03/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)
/N/soft/rhel7/anaconda/python3.7/2019.03/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:435: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X = check_array(X, dtype=np.int)

In [16]:
pd.DataFrame(X,index=X[:,0]).head(2)

      0    1    2      3    4     5    6      7    8    9    10   11
1.0  1.0  0.0  0.0  844.0  1.0  11.0  2.0  344.0  3.0  0.0  1.0  1.0
0.0  0.0  0.0  1.0  230.0  1.0   7.0  2.0  918.0  2.0  0.0  1.0  1.0

In [17]:
X = X[:, 1:]
pd.DataFrame(X,index=X[:,0]).head()

      0    1      2    3     4    5      6    7    8    9    10
0.0  0.0  0.0  844.0  1.0  11.0  2.0  344.0  3.0  0.0  1.0  1.0
0.0  0.0  1.0  230.0  1.0   7.0  2.0  918.0  2.0  0.0  1.0  1.0
0.0  0.0  0.0  949.0  1.0  13.0  4.0  340.0  6.0  1.0  0.0  0.0
0.0  0.0  0.0  433.0  1.0  12.0  3.0  274.0  0.0  1.0  0.0  1.0
0.0  0.0  1.0  322.0  1.0   9.0  2.0  434.0  1.0  1.0  1.0  0.0

In [18]:
y=df_all_student.iloc[:, 12]

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [20]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
# StandardScaler is used to resize the distribution of values so that the mean of observed 
# values is 0 and the standard deviation is 1
X_train = sc.fit_transform(X_train) #Fit method calculates mean & variance of each features..
#..present in our data
# fit_transform() is used on the training data so that we can scale the training data & also 
# learn the scaling parameters of that data
X_test = sc.transform(X_test)

In [21]:
from tensorflow import keras  # calling keras api to process inputs(i/p) & get outputs(o/p)
from keras.models import Sequential  #stack of layers;layers have exactly 1 i/p & o/p tensor
from keras.layers import Dense #Dense implements element-wise (input*weights + bias) functn
from keras.layers import Dropout #Dropout randomly sets i/p units to 0, avoiding overfitting

In [22]:
cf = Sequential()

In [23]:
cf.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))
cf.add(Dropout(rate = 0.1))

In [24]:
cf.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
cf.add(Dropout(rate = 0.1))
cf.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [ ]:
# from ann_visualizer.visualize import ann_viz;
# ann_viz(cf, title=" Simple ");

In [25]:
cf.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [26]:
X_train.shape

(8000, 11)

In [27]:
cf.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
800/800 [==============================] - 5s 2ms/step - loss: 0.6932 - accuracy: 0.4931
Epoch 2/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 3/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4911
Epoch 4/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5006
Epoch 5/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4986
Epoch 6/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 7/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4994
Epoch 8/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4949
Epoch 9/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4936
Epoch 10/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.5001
Epoch 11/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4966
Epoch 12/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.5009
Epoch 13/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4959
Epoch 14/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4974
Epoch 15/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4941
Epoch 16/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5001
Epoch 17/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4974
Epoch 18/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4979
Epoch 19/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4986
Epoch 20/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4996
Epoch 21/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4966
Epoch 22/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4954
Epoch 23/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4976
Epoch 24/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5004
Epoch 25/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4964
Epoch 26/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4914
Epoch 27/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4936
Epoch 28/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.5001
Epoch 29/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 30/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4979
Epoch 31/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4996
Epoch 32/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4981
Epoch 33/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4974
Epoch 34/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4966
Epoch 35/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 36/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4959
Epoch 37/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4974
Epoch 38/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4896
Epoch 39/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4974
Epoch 40/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4999
Epoch 41/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 42/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5001
Epoch 43/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4916
Epoch 44/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 45/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4931
Epoch 46/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5004
Epoch 47/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4986
Epoch 48/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4984
Epoch 49/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.5019
Epoch 50/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 51/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5036
Epoch 52/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4801
Epoch 53/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5006
Epoch 54/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5004
Epoch 55/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4986
Epoch 56/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4939
Epoch 57/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 58/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.5006
Epoch 59/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4961
Epoch 60/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4961
Epoch 61/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4954
Epoch 62/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4954
Epoch 63/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 64/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4981
Epoch 65/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5001
Epoch 66/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4974
Epoch 67/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.5014
Epoch 68/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4971
Epoch 69/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5024
Epoch 70/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4994
Epoch 71/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 72/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5019
Epoch 73/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5024
Epoch 74/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4906
Epoch 75/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4876
Epoch 76/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4954
Epoch 77/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4974
Epoch 78/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5001
Epoch 79/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4981
Epoch 80/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4999
Epoch 81/100

800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4986
Epoch 82/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5009
Epoch 83/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4944
Epoch 84/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4969
Epoch 85/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 86/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 87/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5006
Epoch 88/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4921
Epoch 89/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 90/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4951
Epoch 91/100
800/800 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.4986
Epoch 92/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4984
Epoch 93/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5004
Epoch 94/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 95/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4871
Epoch 96/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5014
Epoch 97/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.4964
Epoch 98/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5006
Epoch 99/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5021
Epoch 100/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6932 - accuracy: 0.5021

In [28]:
y_prediction =cf.predict(X_test)

In [29]:
X_test

array([[ 1.75486502, -0.57369368,  0.32535301, ..., -1.002002  ,
        -0.98117712,  0.99178375],
       [-0.5698444 , -0.57369368, -0.73241421, ...,  0.998002  ,
        -0.98117712,  0.99178375],
       [-0.5698444 ,  1.74309049, -0.69355746, ..., -1.002002  ,
        -0.98117712, -1.00828431],
       ...,
       [-0.5698444 ,  1.74309049,  0.66642897, ...,  0.998002  ,
        -0.98117712,  0.99178375],
       [ 1.75486502, -0.57369368, -0.24022865, ...,  0.998002  ,
        -0.98117712,  0.99178375],
       [ 1.75486502, -0.57369368,  0.86503016, ..., -1.002002  ,
        -0.98117712, -1.00828431]])

In [32]:
X_test[0:2,:]

array([[ 1.75486502, -0.57369368,  0.32535301,  1.09168714,  0.79424936,
        -0.00459255,  0.59821525, -0.64097409, -1.002002  , -0.98117712,
         0.99178375],
       [-0.5698444 , -0.57369368, -0.73241421,  1.09168714,  1.18041655,
        -1.2292738 ,  1.4695826 ,  1.53421584,  0.998002  , -0.98117712,
         0.99178375]])

In [30]:
cf.predict(X_test[0:1,:])

array([[0.5012071]], dtype=float32)

In [ ]:
# pd.DataFrame(y_prediction,index=y_prediction[:,0]).head()

In [ ]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
def kera_classifier():
    cf = Sequential()
    cf.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))
    cf.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
    cf.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))
    cf.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
    return cf
cf = KerasClassifier(build_fn = kera_classifier, batch_size = 10, epochs = 100)
accuracies = cross_val_score(estimator = cf, X = X_train, y = y_train, cv = 10, n_jobs = -1)
mean = accuracies.mean()
variance = accuracies.std()